.LogInFBGOOG{
	height: 700px;
	width: 500px;
	border: solid lightskyblue 3px;
	margin:  auto;
	border-radius: 5px;
	background-color: white;
}
.googleface{
	margin: auto;
	position: relative;
	top: 200px;
}
.facebook2{
	width: 300px;
	position: relative;
	bottom: 80px;
}
.google{
	width: 300px;
}
.email{
	position: relative;
	top: 300px;
}